            <div class="section text-gray" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-4">

                            <p class="social">
                                <a href="" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-twitter"></i> @UISE</a>
                            </p>
                        </div>
                      
                        <div class="col-sm-8">
                            <p><small>&copy; ICSE 2026 Workshop on User Interface and Experience for
                                Software Engineering.</small></p>
                        </div>

                    </div>

                </div>
            </div>
